@import '../../style/variables.scss'; 

.anime {
  &__category {
    &-title {
      margin: 35px 0 10px 0;
      font-size: 25px;
      color: $main-text-color;
      font-weight: 500;
    }
  }
}

.category-anime-slider {
  height: 300px;
  cursor: grab;
  &:active {
    cursor: grabbing;
  } 
}