@import '../../style/variables.scss'; 

.anime {
  &__category {
    &-title {
      margin: 35px 0 10px 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.category-anime-slider {
  height: 300px;
  cursor: grab;
  &:active {
    cursor: grabbing;
  } 
}