@import '../../style/variables.scss';

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 10px auto;
  &__img {
    width: 150px;
    height: 150px;
  }
  &__text {
    text-align: center;
    margin-top: 5px;
    opacity: 0.8;
  }
}

.limit-error {
  flex-direction: column;
}