@import '../../style/variables.scss';

.related-anime {
  margin-top: 10px;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;  
  }
  &__title {
    margin-top: 60px;
  }
  &__item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 90px;
    width: 100%;
    padding-right: 20px;
    background-color: $main-color;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      .related-anime__item-title {
        color: $secondary-color-light;
      }
    }
    &-img {
      height: 100%;
      width: 70px;
      object-fit: cover;
      border-radius: 5px;
      flex-shrink: 0;
    }
    &-title {
      width: 100%;
      transition: .3s all;
    }
  }
}