@import './variables.scss';
@import 'react-toastify/dist/ReactToastify.css';

.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    position: relative;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    color: $main-text-color;
    border-radius: 10px;
  }
  &__decoration {
    position: absolute;
    &_login {
      width: 100px;
      height: 100px;
      top: -83px;
    }
    &_register {
      width: 120px;
      height: 100px;
      right: 20px;
      top: -70px;
    }
  }
  &__title {
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &-input {
      width: 320px;
      height: 50px;
      margin-top: 15px;
      padding: 0 20px;
      font-size: 16px;
      background-color: transparent;
      color: $main-text-color;
      border: 1px solid $main-text-color;
      border-radius: 50px;
      outline: none;
      transition: .3s all;
      &:focus {
        box-shadow: $shadow-color;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &-add-avatar {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-top: 20px;
      color: $main-text-color;
      cursor: pointer;
      transition: .3s all;
      &:hover {
        color: rgba($main-text-color, 0.7)
      }
      .icon-user-circle {
        font-size: 30px;
      }
    }
    &-error {
      color: red;
      font-size: 12px;
      margin-left: 20px;
    }
  }
  &__redirect {
    margin-top: 10px;
    font-size: 14px;
    &-link {
      margin-left: 4px;
      color: $secondary-color-light;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.custom-toast {
  background-color: $main-color-light;
  color: $main-text-color;
  .Toastify__close-button {
    color: $main-text-color; 
    &:hover {
      color: #d7d7d7;
    }
  }
}