@media (max-width: 1460px) {
  .css {
    &-1r4vtzz, &-48ayfv {
      width: 140px !important;
    }
  }
  .user-anime-list {
    grid-template-columns: 1fr 4fr;
  }
}

@media (max-width: 1350px) {
  .anime {
    &__wrapper {
      grid-template-columns: 2fr 1fr;
    }
    &__list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  .top-anime-slider {
    &__slide {
      height: 430px;
    }
    &__title {
      font-size: 33px !important;
    }
    &__descr {
      font-size: 16px;
    }
  }
  .related-anime {
    &__item {
      &-title {
        font-size: 15px;
      }
    }
  }
  .search-results {
    grid-template-columns: 2.5fr 1fr;
  }
  .css {
    &-1r4vtzz, &-48ayfv {
      width: 140px !important;
    }
  }
  .user-anime-list {
    grid-template-columns: 1fr 3fr;
  }
  .user-profile {
    padding: 0 60px;
  }
  .error-message {
    &_small {
      .error-message {
        &__img {
          width: 100px;
          height: 100px;
        }
        &__text {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .anime {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
    &__filters {
      &-sticker {
        display: none;
      }
    }
  }
  .top-anime-slider {
    &__slide {
      height: 400px;
    }
    &__title {
      font-size: 30px !important;
    }
    &__info {
      overflow-y: auto;
      padding: 20px ;
    }
    &__descr {
      font-size: 15px;
    }
    &__genre {
      flex-shrink: 1;
      font-size: 13px;
    }
    &__button {
      flex-shrink: 0;
      padding: 20px !important;
      margin-left: 10px;
      font-size: 14px !important;
    }
  }
  .recent-recommendations {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }
    &__title {
      font-size: 14px;
    }
  }
  .single-anime {
    grid-template-columns: 1fr 3fr;
    &__info {
      padding: 10px;
    }
    &__score {
      &-text {
        font-size: 16px;
        &_bold {
          margin-right: 6px;
          font-size: 20px;
        }
      }
    }
    &__rating {
      font-size: 15px;
    }
    &__status {
      font-size: 15px;
    }
    &__genre {
      &-item {
        font-size: 15px;
      }
    }
    &__main-title {
      font-size: 20px;
    }
    &__secondary-title {
      font-size: 18px;
    }
    &__release {
      font-size: 14px;
    }
    &__descr {
      font-size: 14px;
    }
  }
  .related-anime {
    &__title {
      font-size: 20px;
    }
    &__item {
      &-img {
        width: 60px;
      }
      &-title {
        font-size: 14px;
      }
    }
  }
  .recommendations {
    padding: 25px 0 25px 20px;
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
    &__title {
      font-size: 20px;
    }
  }
  .css {
    &-1r4vtzz, &-48ayfv {
      width: 130px !important;
    }
  }
  .search-results {
    grid-template-columns: 2fr 1fr;
  }
  .user-profile {
    padding: 0 20px;
    gap: 20px;
    &__content {
      padding: 40px 20px;
    }
    &__change {
      column-gap: 50px;
    }
  }
  .error-message {
    &_small {
      .error-message {
        &__text {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .anime {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__list {
      grid-template-columns: repeat(3, 1fr);
      &_user {
        padding: 0 40px;
        grid-template-columns: repeat(4, 1fr);
      }
    }
    &__filters {
      &-item {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  .top-anime-slider {
    &__slide {
      height: 350px;
    }
    &__title {
      font-size: 22px !important;
    }
  }
  .single-anime {
    &__score {
      &-text {
        font-size: 14px;
        &_bold {
          font-size: 18px;
        }
      }
    }
    &__rating {
      font-size: 14px;
    }
    &__status {
      font-size: 14px;
    }
    &__genre {
      &-item {
        font-size: 13px;
      }
    }
    &__main-title {
      font-size: 18px;
    }
    &__secondary-title {
      font-size: 15px;
    }
    &__release {
      font-size: 12px;
    }
    &__descr {
      font-size: 13px;
    }
  }
  .related-anime {
    &__title {
      font-size: 18px;
    }
    &__wrapper {
      column-gap: 10px;
    }
    &__item {
      column-gap: 10px;
      &-title {
        font-size: 13px;
      }
    }
  }
  .recommendations {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
    &__title {
      font-size: 18px;
    }
  }
  .css {
    &-1r4vtzz, &-48ayfv {
      width: 120px !important;
    }
  }
  .user-anime-list {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .user-profile {
    grid-template-columns: 1fr;
    &__content {
      padding: 30px 20px;
    }
    &__change {
      column-gap: 50px;
    }
  }
  .user-card {
    width: 40%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .app {
    &__header {
      &-user {
        &-name {
          display: none;
        }
      }
    }
  }
  .search {
    width: 100%;
    animation: slidein .3s ease-out;
    &__input {
      border: 10px solid  $main-color;
    }
    &__submit {
      top: 16px;
      right: 22px;
    }
  }
  .anime {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      &_user {
        padding: 0 30px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &__filters {
      display: none;
    }
  }
  .top-anime-slider {
    &__slide {
      height: 260px;
    }
    &__title {
      font-size: 20px !important;
    }
  }
  .category-anime-slider {
    height: 250px;
  }
  .recent-recommendations {
    &__list {
      display: flex
    }
    &__title {
      font-size: 16px;
    }
  }
  .single-anime {
    &__score {
      &-text {
        font-size: 12px;
        &_bold {
          margin-right: 5px;
        }
      }
    }
    &__rating {
      font-size: 12px;
    }
    &__status {
      font-size: 12px;
    }
    &__genre {
      &-item {
        font-size: 11px;
      }
    }
    &__about {
      flex-direction: column;
      row-gap: 10px;
    }
    &__release {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .related-anime {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__item {
      column-gap: 20px;
      &-title {
        font-size: 14px;
      }
    }
  }
  .recommendations {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .search-results {
    grid-template-columns: 1fr;
  }
  .hamburger {
    display: block;
    transform:  translateY(-50%);
    width: 40px;
    height: 12.5px;
    flex-shrink: 0;
    span {
      display: block;
      height: 4px;
      width: 100%;
      margin-bottom: 7px;
      background-color: $main-text-color;
      transition: 0.5s all;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &_active {
      span {
        margin-top: 7px;
        margin-bottom: -11px;
        &:nth-child(1) {
          transform: translateY(4px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(4px) rotate(45deg);
        }
      }    
    }       
  }  
  .hamburger-menu {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 60%;
    height: 100vh;
    padding-right: 20px;
    z-index: 100;
    background-color: transparent;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
    &.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    .anime {
      &__filters {
        position: static;
        display: block;
        margin-bottom: 0;
        &-section {
          margin-top: 0;
          padding: 15px 20px 0 20px;
        }
        &-item {
          flex-direction: column;
          width: fit-content;
        }
        &-title {
          display: none;
        }
      }
    }
  }
  .css {
    &-1r4vtzz, &-48ayfv {
      width: 140px !important;
    }
  }
  .user-anime-list {
    grid-template-columns: 1fr;
  }
  .user-card {
    width: 50%;
    padding: 20px;
    &__list {
      display: none !important;
    }
  }
  .user-profile {
    &__change {
      column-gap: 20px;
      &-title {
        width: 220px;
      }
      &-input {
        width: 250px;
        &_file {
          width: 250px;
        }
      }
    }
  }
  @keyframes slidein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }   
}

@media (max-width: 575px) {
  .form {
    &__wrapper {
      padding: 10px; 
    }
    &__form {
      &-input {
        width: 250px;
        height: 50px;
      }
    }
  }
  .app {
    &__header {
      justify-content: space-between;
      column-gap: 10px;
      &-logo {
        font-size: 30px;
      }
      &-wrapper {
        column-gap: 10px;
      }
      .button {
        font-size: 14px;
        flex-shrink: 0;
        &__round {
          font-size: 20px;
        }
      }
    }
    &__footer {
      height: 100px;
      margin-top: 150px;
      &-link {
        font-size: 14px;
      }
    }
  }
  .search {
    flex-shrink: 1;
  }
  .anime {
    &__wrapper {
      margin-top: 0;
    }
    &__category {
      &-title {
        font-size: 20px;
      }
    }
    &__list {
      grid-template-columns: repeat(3, 1fr);
      &_user {
        padding: 0 50px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .top-anime-slider {
    display: none;
  }
  .category-anime-slider {
    height: 280px;
  }
  .recent-recommendations {
    .title_fz25fw500 {
      font-size: 20px;
    }
    &__title {
      font-size: 13px;
    }
  }
  .single-anime {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    &__img {
      display: block;
      width: 240px;
      margin: 0 auto;
    }
    &__score {
      &-text {
        font-size: 16px;
      }
    }
    &__rating {
      font-size: 14px;
    }
    &__status {
      font-size: 14px;
    }
    &__genre {
      &-item {
        font-size: 14px;
      }
    }
    &__main-title {
      font-size: 16px;
    }
    &__secondary-title {
      font-size: 13px;
    }
    &__descr {
      font-size: 13px;
    }
  }
  .related-anime {
    &__title {
      font-size: 18px;
    }
  }
  .recommendations {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
    &__title {
      font-size: 18px;
    }
  }
  .button {
    &__filter {
      font-size: 18px;
    }
  }
  .hamburger {
    width: 35px;
    height: 11.5px;
    span {
      margin-bottom: 6px;
    }
    &_active {
      span {
        margin-top: 5px;
        margin-bottom: -9px;
        &:nth-child(1) {
          transform: translateY(5px) rotate(-45deg);
        }
        &:nth-child(3) {
          transform: translateY(5px) rotate(45deg);
        }
      }    
    }             
  }  
  .hamburger-menu {
    width: 70%;
    right: 50px;
    padding-right: 10px;
    .anime {
      &__filters {
        display: block;
        &-item {
          width: 100%;
          flex-direction: row;
        }
      }
    }
  }
  .css {
    &-1r4vtzz, &-48ayfv {
      width: 145px !important;
    }
  }
  .user-anime-list {
    &__tab {
      padding: 10px 5px;
    }
    &__title {
      font-size: 25px;
    }
  }
  .user-card {
    width: 60%;
  }
  .user-profile {
    &__content {
      padding: 30px 10px;
    }
    &__change {
      flex-direction: column;
      align-items: start;
      row-gap: 10px;
    }
  }
  .error-message {
    &_small {
      .error-message {
        &__img {
          width: 80px;
          height: 80px;
        }
        &__text {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .anime {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      &_user {
        padding: 0;
      }
    }
  }
  .app {
    &__header {
      &-logo {
        font-size: 25px;
      }
    }
  }
  .related-anime {
    &__item {
      column-gap: 15px;
      &-title {
        font-size: 13px;
      }
    }
  }
  .hamburger {
    width: 30px;
    height: 11px;
    span {
      margin-bottom: 5px;
    }
    &_active {
      span {
        margin-top: 4px;
        margin-bottom: -8px;
      }    
    }            
  }  
  .hamburger-menu {
    right: 45px;
    width: 80%;
    .anime {
      &__filters {
        display: block;
        &-section {
          padding: 15px 15px 0 15px;
        }
      }
    }
  }
  .css {
    &-1r4vtzz, &-48ayfv {
      width: 120px !important;
    }
  }
  .user-anime-list {
    &__tab {
      font-size: 10px;
    }
    &__title {
      font-size: 22px;
    }
  }
  .user-card {
    width: 80%;
  }
}