@import '../../style/variables.scss';

.related-anime {
  margin-top: 10px;
  padding: 25px 20px 25px 40px;
  background-color: $main-color;
  border-radius: 15px;
  &__title {
    margin-top: 60px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
    &-item {
      color: $secondary-text-color;
      cursor: pointer;
      transition: .2s all;
      &::before {
        content: "\2022"; 
        margin-right: 10px; 
        color: $main-text-color; 
        font-size: 18px;
        line-height: 1;
      }
      &:hover {
        color: $secondary-color;
      }
    }
  }
}