@import '../../style/variables.scss';

.anime {
  max-width: 1800px;
  margin: 20px auto 0 auto;
  padding: 0 30px;
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    &-error {
      margin-top: 50px;
      text-align: center;
      color: $main-text-color;
    }
  }
}