@import '../../style/variables.scss';

.anime {
  max-width: 1800px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  margin: 20px auto 0 auto;
  padding: 0 15px;
  &__content {
    width: 100%;
    overflow: hidden;
  }
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 15px;
    &-title {
      color: $secondary-text-color !important;
    }
  }
}