@import '../../style/variables.scss';

.app-header {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  &__logo {
    color: $secondary-color;
    text-shadow: $shadow-color;
    font-weight: 600;
    font-size: 30px;
  }
}