@import '../../style/variables.scss';

.top-anime-slider {
  width: 100%;
  cursor: grab;
  &:active {
    cursor: grabbing;
  } 
  &__slide {
    display: flex;
    width: 100%;
    height: 420px;
    background-color: $main-color;
    border-radius: 10px;
  }
  &__img {
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &__info {
    flex: 1;
    row-gap: 30px;
    padding: 20px 60px 0 25px;
    color: $secondary-text-color;
  }
  &__title {
    font-size: 40px !important;
  }
  &__descr {
    margin: 15px 0 40px 0;
    font-size: 18px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__genre {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #B19CD9;
    font-weight: 300;
  }
  &__button {
    padding: 20px 35px !important;
    border-radius: 30px !important;
    &:hover {
      color: $main-text-color;
    }
  }
}