@import '../../style/variables.scss';

.anime {
  &__filters {
    position: sticky;
    top: 20px;
    height: fit-content;
    margin-bottom: 255px;
    background-color: $main-color;
    border-radius: 10px;
    &-title {
      margin-top: 10px;
      text-align: center;
    }
    &-section {
      width: 100%;
      padding: 10px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 15px;
      margin-top: 10px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
    &-form {
      width: 100%;
    }
    &-sticker {
      position: relative; 
      width: 260px;
      height: 280px;
      display: block;
      margin: 30px auto -70px auto;
      z-index: 1; 
    }
  }
}

.css {
  &-1r4vtzz, &-48ayfv {
    width: 165px !important;
    height: 35px !important;
    padding: 6px 10px !important;
    background-color: $main-color-light !important;
    border: none !important;
    outline: none !important;
    border-radius: 5px !important;
    color: $secondary-text-color !important;
    font-size: 16px !important;
    cursor: pointer !important;
  }
  &-11unzgr {
    min-width: 165px !important;
    background-color: $main-color-light !important;
    color: $main-text-color !important;
    border-radius: 5px;
    border-color: transparent;
    z-index: 2 ; 
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondary-text-color;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-track {
      margin: 5px 0;
      background-color: transparent;
    }
  }
  &-1vr111p-option {
    min-width: 165px !important;
    display: flex !important;
    align-items: center;
    padding: 2px 12px !important;
    color: $secondary-text-color !important;
    font-size: 15px !important;
    transition: 0.3s all;
    cursor: pointer !important;
    &:hover {
      background-color: $main-color-light !important;
      color: $secondary-color-light !important;
    }
  }
  &-1qprcsu-option {
    display: flex !important;
    align-items: center;
    min-width: 165px !important;
    padding: 2px 12px !important;
    background-color: $main-color-light !important;
    color: $secondary-color-light !important;
    font-size: 15px !important; 
    font-weight: 400 !important;
    cursor: pointer !important;
  }
}

input[type=checkbox] {
  appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  background-color: $secondary-text-color;
  border-radius: 3px;
  cursor: pointer;
  &:checked {
    background-color: $secondary-color-light;
    &::before {
      font-family: 'icomoon';
      content: "\e902";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $main-text-color;
      font-size: 12px;
    }
  }
}

div[style="background-color: white; border-radius: 4px; margin-top: 8px; position: absolute; z-index: 2; right: 0px;"] {
  background-color: transparent !important;
}
