@import '../../style/variables.scss';

.anime {
  &__filters {
    position: sticky;
    top: 20px;
    height: fit-content;
    margin-bottom: 155px;
    background-color: $main-color;
    border-radius: 10px;
    &-title {
      margin-top: 10px;
      text-align: center;
    }
    &-section {
      width: 100%;
      padding: 10px 20px;
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      gap: 15px; 
      margin-top: 10px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      width: 100%; 
    }
    &-form {
      width: 100%;
    }
    &-sticker {
      position: relative; 
      width: 240px;
      height: 260px;
      display: block;
      margin: 30px auto -70px auto;
      z-index: 1; 
    }
  }
}

.react-select-container {
  width: 100%; 
  .rs__control {
    background-color: $main-color-light;
    border: none;
    box-shadow: none; 
    border-radius: 5px;
    min-height: 35px;
    cursor: pointer;
    &:hover {
      border: none;
    }
  }

  .rs__placeholder {
    color: $secondary-text-color;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 90%;
  }

  .rs__multi-value {
    display: none;
  }

  .rs__menu {
    background-color: $main-color-light;
    border-radius: 5px;
    z-index: 5;
  }

  .rs__option {
    background-color: transparent;
    color: $secondary-text-color;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all;
    .custom-select-option {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &:hover, &--is-focused {
      background-color: rgba(0, 0, 0, 0.1);
      color: $secondary-color-light;
    }
    &--is-selected {
      background-color: transparent;
    }
  }

  .rs__menu-list {
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondary-text-color; 
      border-radius: 15px;
    }
    &::-webkit-scrollbar-track {
      margin: 5px 0;
      background-color: transparent;
    }
  }
}

input[type=checkbox] {
  appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  background-color: $secondary-text-color;
  border-radius: 3px;
  cursor: pointer;
  flex-shrink: 0;
  &:checked {
    background-color: $secondary-color-light;
    &::before {
      font-family: 'icomoon';
      content: "\e902";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $main-text-color;
      font-size: 12px;
    }
  }
}