@import '../../style/variables.scss';

.anime {
  &__filters {
    height: fit-content;
    padding: 10px;
    background-color: $main-color;
    border-radius: 10px;
    &-section {
      padding: 10px 5px 20px 10px;
      background-color: $background-color;
      border-radius: 10px;
    }
    &-title {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      color: $main-text-color;
    }
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px;
      max-height: 360px;
      margin-top: 10px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $secondary-text-color;
        border-radius: 15px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      & {
        scrollbar-width: 5px; 
        scrollbar-color: $secondary-text-color transparent; 
      }
    }
    &-item {
      padding: 5px 18px;
      color: $main-text-color;
      border: 1px solid $secondary-text-color;
      border-radius: 15px;
      cursor: pointer;
    }
  }
}