@import '../../style/variables.scss';

.app {
  &__footer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    background-color: $main-color;
    color: $secondary-text-color;
    &-link {
      transition: .3s all;
      font-size: 16px; 
      margin-bottom: 10px; 
      text-decoration: underline;
      &:hover {
        color: $main-text-color;
        text-decoration: underline;
      }
    }
    &-copy {
      background: none;
      border: none;
      padding: 0;
      font-size: 14px; 
      cursor: pointer;
      color: inherit; 
      &:hover {
        color: $main-text-color;
      }
    }
  }
}