@import '../../../style/variables.scss';

.user-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  margin-top: 30px;
  padding: 0 100px;
  &__content {
    width: 100%;
    padding: 60px 20px 20px 20px;
    background-color: $main-color;
  }
  &__message {
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
    font-weight: 300 !important;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__change {
    display: flex;
    align-items: center;
    column-gap: 100px;
    margin-top: 50px;
    &:first-child {
      margin-top: 0;
    }
    &-title {
      width: 250px;
    }
    &-input {
      width: 300px;
      height: 40px;
      padding: 0 20px;
      background-color: $main-color-light;
      border: none;
      outline: none;
      border-radius: 5px;
      color: $secondary-text-color;
      transition: .3s all;
      &:focus {
        outline: 1px solid $secondary-color-light;
      }
      &_file {
        display: flex;
        align-items: center;
        column-gap: 10px;
        width: 300px;
        background-color: transparent;
        color: $secondary-text-color;
        font-size: 18px;
        cursor: pointer;
        transition: .3s all;
        .icon-user-circle {
          font-size: 30px;
        }
        &:hover {
          color: $main-text-color;
        }
      }
    }
  }
  &__button {
    margin-top: 60px !important;
    padding: 10px 35px !important;
    width: fit-content;
    margin: 0 auto;
  }
  &__error {
    text-align: center;
    color: red;
    font-size: 12px;
    margin: 2px 0 -20px 0;
  }
}